html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 4rem 4rem auto auto 4rem;
  grid-template-areas:
  "head"
  "btn"
  "fcc"
  "streams"
  "foot";
  background: grey;
  justify-items: center;
}

header {
  grid-area: head;
  text-align: center;
  background: pink;
  width: 100%;
}

footer {
  grid-area: foot;
  background: pink;
  text-align: center;
  width: 100%;
}

section {
  background: palegreen;
  border: 1px solid black;
}

.buttonsWrapper {
  grid-area: btn;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
}

/* Style the buttons inside the tab */
.buttonsWrapper button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 10rem;
}

/* Change background color of buttons on hover */
.buttonsWrapper button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.buttonsWrapper button.active {
  background-color: #ccc;
}

.fccWrapper {
  grid-area: fcc;
  width: 100%;
}

.streamsWrapper {
  grid-area: streams;
  width: 100%;
}

section > article {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}

section > article > img {
  width: 100px;
  height: 100px;
}

/* Breakpoint */

@media only screen 
   and (min-width : 1024px) {
  .fccWrapper {
    width: 80%;
  }
  .streamsWrapper {
    width: 80%;
  }
}